.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 100px;
}

.App-header h1{
  color:skyblue;
}

.App-header p{
  margin-top: -10px;
  margin-bottom: -10px;
}


.container {
  display: flex;
  background-color: #282c34;
  flex-wrap: wrap;
  justify-content: center;
}

.container > div {

  background-color: grey;
  border-radius: 2rem;
  margin: 1rem;
  padding:0 0.5rem;
  width: 25%;
  font-size: 1.1em;
  box-shadow: 0.5rem 0.5rem rgb(46, 102, 116);
  overflow: hidden;

}

#gif {
  width: 50%;
}

.container > div:hover{
  background-color: darkgrey;
}

.container > div th{
  justify-content: center;
  padding: 10px;
  color: greenyellow; 
}

.container > div td{
  justify-content: center;

  color: wheat;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}


@media only screen and (max-width: 600px) {
 

  .container > div {

    display: block;
    width: 100%;
  
  }
   
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
