.container {
    display: flex;
    background-color: lightpink;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .container > div {
  
    background-color: limegreen;
    border-radius: 2rem;
    margin: 1rem;
    padding:0 0.5rem;
    width: 25%;
    font-size: 1.1em;
    box-shadow: 0.5rem 0.5rem rgb(46, 102, 116);
    overflow: hidden;
  
  }